prefer-no-csd
input {
    keyboard {
        // Enable numlock on startup, omitting this setting disables it.
        numlock
    }


    focus-follows-mouse max-scroll-amount="0%"
}
output "HDMI-A-1" {
	mode "2560x1440@143.99"
	position x=0 y=0
	focus-at-startup
}
output "eDP-1"{
	mode "1920x1080@144.00"
	position x=-1920 y=100
}
layout {
    gaps 16
    center-focused-column "never"
    preset-column-widths {
      proportion 0.50
      proportion 1.00
    }
    default-column-width { proportion 0.5; }
    focus-ring {
        off
        width 2
    }
    border {
        width 2
        active-color "#ffffff"
        inactive-color "#505050"
    }
    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}
hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

window-rule {
    match title="Satisfactory"
    open-fullscreen true
    open-focused false
    open-floating false
}
window-rule {
    match app-id="vscodium"
    opacity 0.85
    draw-border-with-background false

}
window-rule {
    match title="Firefox"
    opacity 0.90
    draw-border-with-background false
}
window-rule {
    match app-id="org.gnome.Nautilus"
    opacity 0.8
    draw-border-with-background false
}
window-rule {
    match app-id="vesktop"
    opacity 0.9
    draw-border-with-background false
}
window-rule {
    match title="Crunchyroll"
    opacity 1.0
    draw-border-with-background true
}
window-rule {
     match title="YouTube"
     opacity 1.0
     draw-border-with-background true
}
binds {
    Mod+BracketLeft { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+T { spawn-sh "alacritty"; }
    Mod+E { spawn "nautilus"; }
    Mod+A { spawn-sh "/home/kuba/.config/rofi/launchers/type-2/launcher.sh"; }
    //qs -c noctalia-shell ipc call launcher toggle
    Mod+B {spawn "firefox";}
    Mod+V {spawn "zeditor";}
    Mod+L {spawn-sh "qs -c noctalia-shell ipc call lockScreen lock";}
    Mod+Y {spawn-sh "qs -c noctalia-shell ipc call wallpaper toggle";}
    Mod+Escape {spawn-sh "/home/kuba/.config/rofi.kuba/powermenu/type-2/powermenu.sh";}
    //qs -c noctalia-shell ipc call sessionMenu toggle
    // Audio
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume increase"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume decrease"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteOutput"; }
    XF86AudioPrev {spawn-sh "qs -c noctalia-shell ipc call media previous";}
    XF86AudioNext {spawn-sh "qs -c noctalia-shell ipc call media next";}
    XF86AudioPlay {spawn-sh "qs -c noctalia-shell ipc call media playPause";}
    //power profile
    XF86Search { spawn-sh "qs -c noctalia-shell ipc call powerProfile cycle"; }
    Mod+Tab repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right; }

    Mod+Ctrl+Left  { focus-monitor-left; }
    Mod+Ctrl+Down  { focus-monitor-down; }
    Mod+Ctrl+Up    { focus-monitor-up; }
    Mod+Ctrl+Right { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+W { maximize-column; }
    Mod+Shift+W { fullscreen-window; }

    // Move the focused window between the floating and the tiling layout.
    Mod+F       { toggle-window-floating; }
    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }
}
window-rule {
    geometry-corner-radius 15
    clip-to-geometry true
}
debug {
  honor-xdg-activation-with-invalid-serial
}
// Set the overview wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}
include "./noctalia.kdl"
